{% extends "base/page.html" %}
{% load i18n static django_bootstrap5 %}

{% block content %}
<div class="col-8">
  {% include "core/question/detail.html" with question=question %}
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">Classificador</th>
        <th scope="col">Tem Diabetes?</th>
        <th scope="col">Probabilidades</th>
      </tr>
    </thead>
    <tbody>
      {% for item in resultado %}
      <tr>
        <td>{{ item.0.nome }}</td>
        <td>{{ item.1|yesno:"Sim,Não,Não sabe" }}</td>
        <td>
          <div class="progress-stacked">
            <div class="progress" role="progressbar" aria-label="Probabilidade do sim" aria-valuenow="{{ item.2.1|stringformat:".02f" }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.2.1|stringformat:".02f" }}%">
              <div class="progress-bar bg-success">{{ item.2.1|stringformat:".02f" }}%</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Probabilidade do não" aria-valuenow="{{ item.2.0|stringformat:".02f" }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.2.0|stringformat:".02f" }}%">
              <div class="progress-bar bg-danger">{{ item.2.0|stringformat:".02f" }}%</div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
