<div class="dropdown">
  <button class="btn btn-link dropdown-toogle" id="dropdown-theme-btn" data-bs-toggle="dropdown" type="button" aria-expanded="false">
    <i id="dropdown-theme-btn-icon"></i>
    <span class="d-lg-none ms-2" id="bd-theme-text">Alterar tema</span>
  </button>

  <ul class="dropdown-menu">
    <li>
      <button data-bs-theme-value="light" type="button" class="dropdown-item d-flex align-items-center">
        <i class="bi bi-sun-fill"></i>
        Claro
      </button>
    </li>
    <li>
      <button data-bs-theme-value="dark" type="button" class="dropdown-item d-flex align-items-center">
        <i class="bi bi-moon"></i>
        Escuro
      </button>
    </li>
    <li>
      <button data-bs-theme-value="auto" type="button" class="dropdown-item d-flex align-items-center">
        <i class="bi bi-circle-half"></i>
        Automático
      </button>
    </li>
  </ul>
</div>